h1.title{
    top:25%;
    font-size:70px;
    text-transform: uppercase;
    background-image: linear-gradient(
        -225deg,
        #541557  0%,
        #27107a 29%,
        #ff1361 67%,
        #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    animation-name: textchange;
    animation-duration: 7s;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    left: 50%;
    margin-right: -50%;
    position:absolute;
    transform: translate(-50%, -50%)
}

@keyframes textchange{
    to{
      background-position: 200% center;
    }
}

.header,.enter,input[type=submit]{
    left: 50%;
    margin-right: -50%;
    position: absolute;
    transform: translate(-50%, -50%)
}

.header,.enter,input[type=submit],input[type=button]{
    font-family:"Comic Sans MS";
    -webkit-text-fill-color: white; /* Will override color (regardless of order)*/ 
    text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    font-size: 40px;
} 

.header{
    top: 40%;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 30px;

}

.indexButton {
    font-size: 30px; 
    background-color: rgb(0, 115, 255);
    padding: 8px 30px;
    
    font-family:Comic Sans MS;
    position: center center;
    left: 50%;
    text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000,
  }

a:link, a:visited {
    padding: 80 50px;
    font-family:"Comic Sans MS";
    color: white;
    text-emphasis: none;
    text-decoration: none;
    position: center center;
    left: 50%;
    text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  }
  

.textbox {
    margin: auto;
    width: 80%;
    height:20%;
    border: 3px solid green;
    padding: 10px;

}

.enter{
    font-size: 30px;
    margin: 0;
    position: absolute;
    top: 60%;
    margin-right: -50%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: green;

}

.enter > div {
    vertical-align:top;
    display:inline-block;
}

input[type=submit],input[type=button]{

    background-color: rgb(0, 115, 255);
    border: none; 
    height: 60px;
    width: 200px;
    font-size: 30px;
    text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000,

}
.selected{
    position: center center;

}

input[type=ingButton]{
    width: fit-content;
    text-align: center;

}

body {
    background-image: url('../static/restaurant.png');
    background-repeat: no-repeat;
    background-position:center center;
    background-attachment: fixed;
    background-size: cover;
    background-color:lightskyblue;

}

p.error{
    font-family: Helvetica;
    color: white;
}

h1.word{
    font-size: 40px;
    color: rgb(236, 37, 143);
    font-style: italic;
    height: 40px;
}

h1.food{
    color: rgb(245, 32, 114);
    font-style: italic;
}

h3.word{
    font-size: 30px;
    color: rgb(236, 37, 143);
    font-style: italic;
}

input.answerBtnsOff{
    font-style: italic;
}