h1{
    color:blue;
    font-size: 24px;
}

.header,.enter,input[type=submit]{
    left: 50%;
    margin-right: -50%;
    position: absolute;
    transform: translate(-50%, -50%)
}

.header,.enter,input[type=submit]{
    font-family:"Comic Sans MS";
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}
.header{
    top: 40%;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 30px;

}


.textbox {
    margin: auto;
    width: 80%;
    height:20%;
    border: 3px solid green;
    padding: 10px;

}

.enter{
    font-size: 30px;
    margin: 0;
    position: absolute;
    top: 60%;
    margin-right: -50%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: green;

}

.enter > div {
    vertical-align:top;
    display:inline-block;

}

.startButton{

    background-color: blue; /* Green */
    border: none; 
    height: 60px;
    width: 200px;
    font-size: 30px;

}

body {
    background-image: url('../static/restaurant.png');
    background-repeat: no-repeat;
    background-position:center center;
    background-attachment: fixed;
    background-size: cover;
    background-color:lightskyblue

}

p.error{
    font-family: Helvetica;
    color: white;
}

