
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/cookStyle.css">
</head>
<body>

    <div class="header">
        <h1>choose your cooking tool</h1>
    </div>
    <p>Click to choose your tool and go ot next page:</p>

<!--<button onclick="myFunction()">Click oven</button>-->
<!--    <button onclick="myFunction()">Click riceCooker</button>-->
<!--    <button onclick="myFunction()">Click grill</button>-->


<!--"""-->
    <div class="cooker">
    <form action="/cook" method="POST" >
         <div style = "position:relative; left:470px; top:480px; ">
            <input class="answerBtnsOff" id="Oven" type="button" value="Oven"  onclick="onoff(this.id);"/>
        </div>

        <div style = "position:relative; left:700px; top:300px; ">
            <input class="answerBtnsOff" id="RiceCooker"  type="button" value="RiceCooker"  onclick="onoff(this.id)" />
        </div>

        <div style = "position:relative; left:470px; top:310px; ">
            <input class="answerBtnsOff" id="Grill"  type="button" value="Grill"   onclick= "onoff(this.id)" />
        </div>

        <div style = "position:relative; left:1150px; top:150px; ">
            <input class="answerBtnsOff" id="Refrigerator"  type="button" value="Refrigerator"  onclick= "onoff(this.id)" />
        </div>

        <div style = "position:relative; left:170px; top:170px; ">
            <input class="answerBtnsOff" id="Microwave"  type="button" value="Microwave"  onclick= "onoff(this.id)" />
        </div>

        <div style = "position:relative; left:680px; top:450px; ">
            <input class = "submit_button" type ="submit" id="checkButton" value = 'DONE' onclick="onoff(this.id)"/>
        </div>

    </form>
</div>
<!--    """-->



<p id="demo"></p>

<script>
function myFunction() {
  document.getElementById("demo").innerHTML = "Next page";
}
</script>

</script>
<script type="text/javascript" src="../static/home.js"></script>

</body>
<style>
</style>

</html>
