<html>
    <head>
        <link rel="stylesheet" href="static/styles.css">
    </head>
    <body>
        <h1 class="title">REPSAJ</h1>
    <div class="header">
    </div>

    <div class="enter">
        <a class="indexButton" style="padding: 8px 30px; text-align: center;" href="signup" style="color:blue;">REGISTER</a>
        <br>
        <br>
        <br>
        <a class="indexButton" style="padding: 8px 30px; text-align: center;" href="login" style="color:blue">LOGIN</a>

    </div>
    </body>
    <style>
        body {
        background-image: url('../static/restaurant.png');
        }
    </style>

</html>