<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>

    <div class="header">
        <h1>REPSAJ</h1>
    </div>

    <div class="enter">
       
        <div>
            Enter your username: 
        </div>
        <div>
            <form action="/home" method="POST" >
                <input class="textbox" type="text" name="username" placeholder="..." required></br>
                <input type="submit" id="startButton" value = 'START' />
                {% if error %}
                    <p class="error"><strong>Error: </strong> {{error}}</p>
                {% endif %}
            </form>
        </div>
    </div>


</body>
</html>
