<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="header">
    </div>

    <div class="enter">
      
        <div>
            <form action="/profile" method="POST" >
                <h1>Welcome, {{ username }}!</h1>
                <h3>YOU HAVE PLAYED {{ game_times }} TIMES</h3>
                <h3>YOUR HIGHEST SCORE IS __</h3>
                <br></br>
                <br></br>
                <a href="menu" class="indexButton">Back to menu</a>
                    {% if error %}
                        <p class="error"><strong>Error: </strong> {{error}}</p>
                    {% endif %}
            </form>
        </div>
    </div>

    <!-- <script>
      function viewProfile() {
        alert('Viewing your profile...');
      }
    </script> -->

</body>
</html>